/* Wansi Liang */

@media screen and (min-width: 576px) {
  header {
    position: relative;
    background-image: url("../img/bee-collecting-pollen.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 33vh;
    min-height: 250px;
  }

  #site-title, header nav a, header .social {
    background-color: rgba(0, 0, 0, 0.65);
  }

  header nav a:hover {
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.75);
    transition: color 2s;
    transition: background-color 2s;
  }

  header nav a {
    width: 100px;
    border-right: 1px dotted rgba(255, 255, 255, 0.5);
  }

  .social li {
    display: inline;
  }

  header .social{
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
    border-right: 1px dotted rgba(255, 255, 255, 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 10%;
  }

  #wordmark, #logo, #site-title, nav li a, main, article, footer {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .column-container {
    display: flex;
    justify-content: space-between;
  }

  .column {
    background-color: #eee;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin-left: 8px;
    margin-right: 8px;
    padding: 16px;
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  #logo {
    display: inline;
    height: 2.0rem;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  #unit-signature {
    width: 600px;
  }

  #address, #phone-and-email {
    margin-left: 295px;
  }
}

@media screen and (min-width: 992px) {
  #site-title {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem
  }
}

@media screen and (min-width: 1200px) {
  footer {
    background-image: url("../img/fas-diamonds.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
}
